strict-ssl=false
registry=http://registry.npmjs.org/
proxy=http://pitc-zscaler-americas-cincinnati3pr.proxy.corporate.ge.com:80/
https-proxy=http://pitc-zscaler-americas-cincinnati3pr.proxy.corporate.ge.com:80/
